{% extends "base.html" %}
{% load static %}
{% block title %}

<head>
    <title>Unit1</title>
</head>
{% endblock %}

{% block content %}

<body>
    <div class="unit-big-container">

        <section class="teams">
            <div class="unit-title-container unit-container">
                <h3 class="unit-title">หน่วยที่ 1 อุปกรณ์นิวเมติกส์</h3>
                <p class="unit-details">ระบบนิวเมติกส์ หมายถึง
                    ระบบการส่งถ่ายกำลังโดยอาศัยความดันลมเป็นตัวกลางในการส่งถ่ายกำลัง<br>
                    โดยมีอุปกรณ์การทำงานชนิดต่างๆ เช่น กระบอกสูบ มอเตอร์ ฯลฯ
                    ซึ่งจะทำหน้าที่เปลี่ยนพลังงานลมเป็นพลังงานกล
                </p>
            </div>
            <div class="unit-sub-container unit-container">
                <h4 class="unit-sub-title">ข้อดีของระบบนิวเมติกส์</h4>
                <p class="unit-details">
                    1. ระบบนิวเมติกส์ ที่ใช้งานทั่วไปไม่มีการระเบิดหรือลุกไหม้เป็นเปลวไฟ
                    จึงประหยัดค่าใช้จ่ายเกี่ยวกับการป้องกันความปลอดภัย<br>
                    2. ความเร็วของเครื่องมือที่ใช้ระบบนิวเมติกส์ให้ความเร็วในการทำงานสูง 1-2 m/s
                    แต่ถ้าหากต้องการความเร็วสูงขึ้นมากกว่านี้จะต้องใช้ลูกสูบชนิดพิเศษซึ่งมีความเร็ว 10m/s<br>
                    3. ระบบนิวเมติกเมื่อใช้งานแล้วสามารถระบายลม ออกสู่บรรยากาศได้ทันทีโดยไม่ต้องเดินท่อทางนำกลับมาใช้อีก
                    ทำให้ประหยัดค่าใช้จ่าย<br>
                    4. ระบบนิวเมติกส์สามารถนำลมที่อัดตัวแล้วเก็บไว้ในถัง และนำไปใช้งานได้ทันที<br>
                    5. ถ้าใช้งานอุปกรณ์นิวเมติกส์จนเกิดกำลัง อุปกรณ์ก็ยังมีความปลอดภัย<br>
                    6.
                    ระบบนิวเมติกส์สามารถปรับความเร็วในการทำงานได้โดยใช้อุปกรณ์ควบคุมความเร็วและสามารถทำให้รอบในการทำงานสูงถึง
                    8,000 รอบต่อวินาที<br>
                    7. สามารถปรับความดันลมอัดใหมีค่ามากน้อยได้ตามต้องการ โดยใช้อุปกรณ์ควบคุมความดัน<br>
                    8. ความสะอาดของระบบนิวเมติกส์ดีมาก เพราะมีชุดปรับคุณภาพลมก่อนนำไปใช้งาน<br>
                    9. สามารถทำงานได้ที่ระดับความแตกต่างของอุณหภูมิ</p>
            </div>
            <div class="unit-sub-container unit-container">
                <h5 class="unit-sub-title">ข้อเสียของระบบนิวเมติกส์</h5>
                <p class="unit-details">
                    1. ในโรงงานอุตสาหกรรมบางครั้งมีการเพิ่มอุปกรณ์นิวเมติกส์เข้ามาในวงจร
                    โดยไม่คำนึงถึงความสามารถของเครื่องอัดลม ซึ่งอาจจะทำให้เครื่องจักรทำงานคลาดเคลื่อนได้
                    และในบางครั้งถ้าลูกสูบอยู่ห่างจากอุปกรณ์ควบคุมเกินกว่า 5 เมตร
                    จะทำให้เกิดปัญหาในการทำงานของลูกสูบ<br>
                    2. ลมที่ได้มาจากการอัดตัวในระบบนิวเมติกจะมีความชื้นปนอยู่
                    และเมื่อความดันลดลงจะทำให้เกิดหยดน้ำขึ้นได้<br>
                    3. การทำงานของระบบนิวเมติกมักจะมีเสียงดัง เพราะจะต้องมีการระบายลมทิ้งออกสู่บรรยากาศ
                    จึงจำเป็นต้องจะต้องมีตัวเก็บเสียง<br>
                    4. ความดันของลมอัดในระบบนิวเมติกส์จะเปลี่ยนแปลงไปตามอุณหภูมิ ถ้าอุณหภูมิสูง ความดันก็จะสูง
                    และถ้าอุณหภูมิต่ำ ความดันก็จะต่ำลงด้วย<br>
                    5. ในกรณีที่ต้องการแรงในการใช้งานมาก เส้นผ่านศูนย์กลางของลูกสูบจะต้องมีขนาดโตขึ้น
                    เพื่อที่จะให้ได้แรงตามต้องการ ซึ่งลูกสูบในระบบนิวเมติกส์จะมีขนาดจำกัด
                </p>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title">
                    อุปกรณ์ทำงานในระบบ
                </h5>
                <p class="unit-sub-title-1">
                    เครื่องอัดลม (Compressor)
                </p>
                <p class="unit-details">
                    ระบบนิวเมติกส์ต้องใช้ลมอัดเป็นสารทำงาน ดังนั้นจึงต้องมีอุปกรณ์ในการผลิตลมอัด
                    อุปกรณ์ดังกล่าวคือเครื่องอัดลม ซึ่งทำหน้าที่ผลิตลมอัดใหกับระบบนิวเมติกส์ สามารถแบ่งออกได้ 2 ประเภท
                    คือ เครื่องอัดลมที่ทำงานในลักษณะการเคลื่อนที่เป็นแนวตรง กับทำงานในลักษณะของการหมุน
                </p>
                <table class="unit-table">
                    <tbody>
                        <tr>
                            <th>
                                ถังลม
                            </th>
                            <th>
                                สัญลักษณ์
                            </th>
                        </tr>
                    </tbody>
                    <tr>
                        <td>
                            <img class="image-air" src="{% static 'image/ถังลม.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <img class="image-icon-air" src="{% static 'image/สัญลักษณ์ถังลม.png' %}" alt="Not Found">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="unit-sub-title-1">
                    ถังเก็บลม (Receiver)
                </p>
                <p class="unit-details">
                    ถังเก็บลมจะทำหน้าที่เก็บสะสมลมที่ได้จากการอัดอากาศของเครื่องอัดลมให้มีปริมาณที่เพียงพอกับความต้องการ
                    นอกจากนั้นยังเป็นตัวสร้างความดันให้กับลมอัดอีกด้วย
                    จึงจำเป็นที่จะต้องมีถังเก็บลมที่สามารถจ่ายปริมาณลม และความดันลมได้อย่างคงที่ตลอดเวล
                </p>
                <p class="unit-sub-title-1">
                    การเตรียมลมอัด
                </p>
                <p class="unit-details">
                    โดยปกติแล้วในลมอัดจะมีความชื้นและไอน้ำปะปนอยู่ ซึ่งละอองน้ำจะมีผลทำให้อุปกรณ์ต่างๆ
                    ของระบบนิวเมติกส์ เช่น ท่อทาง วาล์ว กระบอกสูบ ฯลฯ เกิดการเสียหายได้ นอกจากนี้ในอากาศยังมีฝุ่นละออง
                    และสิ่งสกปรกต่างๆ เมื่อคอมเพรสเซอร์ดูดอากาศที่มีฝุ่นละอองเข้ามาในนบบนิวเมติกส์
                    ซึ่งมีผลทำให้อุปกรณ์ที่เคลื่อนที่ ตลอดจนสิวกันรั่วต่างๆ มีอายุการใช้งานที่สั้นลง
                    เป็นผลให้การทำงานของวงจรนิวเมติกส์ไม่สมบูรณ์ และไม่ปลอดภัยเท่าที่ควร ดังนั้น
                    จึงมีความจำเป็นอย่างยิ่งที่จะต้องเตรียมลมอัดให้มีคุณสมบัติตามที่ต้องการก่อนที่จะนำไปใช้งานในงานนิวเมติกส์
                    ลมอัดที่จะนำมาใช้งานได้ต้องมีคุณสมบัติ คือ ต้องมีความสะอาดปราศจากฝุ่น สิ่งสกปรกต่างๆ และละอองน้ำ
                    นอกจากนั้นยังต้องช่วยลดความฝืดในอุปกรณ์ที่มีการเคลื่อนที่ และป้องกันสนิม
                    ดังนั้นลมอัดจึงจำเป็นต้องมีออกน้ำมันผสมอยู่ด้วย
                    ด้วยสาเหตุนี้จึงต้องมีชุดควบคุมและปรับปรุงคุณภาพลมอัดก่อนที่จะนำลมอัดนี้ไปใช้งานในระบบนิวเมติกส์ต่อไป

                </p>
            </div>
            <div class="unit-sub-title-container unit-container">
                <p class="unit-sub-title-1">
                    ชุดควบคุมและปรับปรุงคุณภาพลมอัด (Service Unit)
                </p>
                <div class="image-center">
                    <img class="image-service" src="{% static 'image/se.png' %}" alt="Not Found">
                </div>

                <p class="unit-details">
                    ก่อนที่จะนำลมอัดที่ผลิตจากคอมเพรสเซอร์จ่ายให้กับอุปกรณ์หรือวงจรนิวเมติกส์
                    จะต้องมีการปรับปรุงคุณภาพของลมอัดเสียก่อน โดยให้ลมอัดผ่านชุดปรับปรุงคุณภาพลม
                    ซึ่งมีส่วนประกอบที่สำคัญ คือ ตัวกรอง วาล์วปรับลดและควบคุมแรงดัน และตัวจ่ายน้ำมันหล่อลื่น
                    ซึ่งอธิบายได้ดังนี้ <br>
                    ตัวกรอง (Filter) ทำหน้าที่กรองฝุ่นละอองและน้ำทที่ปะปนมากับลมอัด
                    เพื่อให้ได้ลมอัดที่มีความสะอาดก่อนนำไปใช้งาน <br>
                    วาล์วปรับลดและควบคุมแรงดัน (Regulator)
                    ทำหน้าที่ปรับความดันให้ค่าความดันของลมอัดมีความดันเท่ากับความดันใช้งานในระบบนิวเมติกส์
                    และรักษาแรงดันให้มีค่าคงที่ตามที่ตั้งค่าไว้ <br>
                    ตัวจ่ายน้ำมันหล่อลื่น (Lubricator) ทำหน้าที่จ่ายน้ำมันหล่อลื่นให้กับอุปกรณ์นิวเมติกส์
                    โดยจะปะปนไปกับลมอัด เพื่อหล่อลื่นอุปกรณ์ต่างๆ
                </p>
                <table class="unit-table table-bordered">
                    <tr>
                        <th colspan="2">
                            สัญลักษณ์
                        </th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>
                                แบบละเอียด
                            </td>
                            <td width="25%">
                                แบบย่อ
                            </td>
                        </tr>
                    </tbody>
                    <tr>
                        <td>
                            <img class="image-service-table" src="{% static 'image/Su.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <img class="image-service-icon" src="{% static 'image/ย่อ.png' %}" alt="Not Found">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    กระบอกสูบทางเดียว (Single Acting Cylinder)
                </h5>
                <table class="unit-table">
                    <thead>
                        <tr>
                            <td>
                                <img class="image-single-table" src="{% static 'image/ทางเดียว.png' %}" alt="Not Found">
                            </td>
                            <td class="table-left">
                                <p class="unit-details">
                                    รูปร่างอุปกรณ์ <br>
                                    1. จะสังเกตเห็นช่องป้อนลมเพียง 1 ช่อง <br>
                                    2. เมื่อดึงก้านสูบออกหรือดันเข้าแล้วปล่อยมือ ลูกสูบจะเคลื่อนที่กลับด้วยแรงสปริง <br>
                                    3. มีระยะชักสั้นๆ ไม่เกิน 100 มม.
                                </p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img class="image-single-structure-table"
                                    src="{% static 'image/โครงสร้างทางเดียว.png' %}" alt="Not Found">
                            </td>
                            <td class="table-left">
                                <p class="unit-details">
                                    ลักษณะโครงสร้าง <br>
                                    1. กระบอกสูบ <br>
                                    2. ลูกสูบ <br>
                                    3. ก้านสูบ <br>
                                    4. สปริงดันกลับ <br>
                                    5. ซีล <br>
                                    6. บูชก้านสูบ <br>
                                    7. ช่องจ่ายลม <br>
                                    8. ช่องระบายลม <br>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="image-spring-back-table" src="{% static 'image/ถอยกลับด้วยสปริง.png' %}"
                                    alt="Not Found"><br>
                                <p class="unit-details">
                                    แบบถอยกลับด้วยสปริง
                                </p>
                                <img class="image-spring-table" src="{% static 'image/เลื่อนออกด้วยสปริง.png' %}"
                                    alt="Not Found">
                                <p class="unit-details">
                                    แบบเลื่อนออกด้วยสปริง
                                </p>

                            </td>
                            <td class="table-up">
                                <p class="unit-details">สัญลักษณ์</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="image-single-work-table" src="{% static 'image/การทำงานทางเดียว.png' %}"
                                    alt="Not Found">
                            </td>
                            <td class="table-left">
                                <p class="unit-details">
                                    การทำงาน <br>
                                    จังหวะการเคลื่อนที่ออก
                                    <br>ก้านสูบเคลื่อนที่ออกได้โดยแรงดันของลมที่เข้าไปดันหัวลูกสูบ
                                    โดยจะต้องเอาชนะแรงต้านของสปริงและความฝืดภายในกระบอกสูบ<br>
                                    จังหวะเคลื่อนที่เข้า <br>ก้านสูบเคลื่อนที่กลับด้วยแรงสปริง
                                </p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    กระบอกสูบสองทาง (Double Acting Cylinder)
                </h5>
                <table class="unit-table">
                    <thead>
                        <tr>
                            <td>
                                <img class="image-double-table " src="{% static 'image/สองทาง.png' %}" alt="Not Found">
                            </td>
                            <td class="table-left">
                                <p class="unit-details">
                                    รูปร่างอุปกรณ์ <br>
                                    1. จะสังเกตเห็นช่องป้อนลม 2 ช่อง <br>
                                    2. มีสัญลักษณ์บอกชนิดของลูกสูบ
                                </p>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img class="image-double-structure-table" src="{% static 'image/โครงสร้างสองทาง.png' %}"
                                    alt="Not Found">
                            </td>
                            <td class="table-left">
                                <p class="unit-details">
                                    ลักษณะโครงสร้าง <br>
                                    ประกอบด้วยลูกสูบและก้านสูบ
                                    ซึ่งเคลื่อนที่ไปมาอยู่ภายในกระบอกสูบที่ปิดหัวท้ายโดยใช้ลมอัดไปอัดเพื่อทำให้เกิดการเคลื่อนที่
                                    <br>
                                    1. ช่องป้อนลม <br>
                                    2. ฝาสูบหัวท้าย <br>
                                    3. ลูกสูบ <br>
                                    4. ก้านสูบ <br>
                                    5. กระบอกสูบ <br>
                                    6. ซีล
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="image-double-icon-table" src="{% static 'image/สัญลักษณ์สองทาง.png' %}"
                                    alt="Not Found">
                            </td>
                            <td>
                                <p class="unit-details">สัญลักษณ์</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="image-double-work-table" src="{% static 'image/การทำงานสองทาง.png' %}"
                                    alt="Not Found">
                            </td>
                            <td>
                                <p class="unit-details">
                                    การทำงาน <br>
                                    จังหวะการเคลื่อนที่ออก <br>
                                    ก้านสูบเคลื่อนที่ออกได้โดยแรงดันของลมที่เข้าไปดันหัวลูกสูบ
                                    <br>
                                    จังหวะเคลื่อนที่เข้า <br>
                                    ก้านสูบเคลื่อนที่เข้าได้โดยแรงดันของลมที่เข้าไปดันลูกสูบดันก้านสูบ
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    สัญลักษณ์ของวาล์วควบคุมทิศทาง
                </h5>
                <table class="unit-table">
                    <thead>
                        <tr>
                            <th>
                                <p class="unit-details">สัญลักษณ์</p>
                            </th>
                            <th>
                                <p class="unit-details">ลักษณะ</p>
                            </th>
                            <th>
                                <p class="unit-details">ความหมาย</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img class="image-rec-table w80h80" src="{% static 'image/สี่เหลี่ยม.png' %}"
                                    alt="Not Found">
                            </td>
                            <td>
                                <p class="unit-details">รูปสี่เหลี่ยม</p>

                            </td>
                            <td>
                                <p class="unit-details">ตำแหน่งของวาล์ว</p>
                            </td>
                        </tr>
                    </tbody>

                    <tr>
                        <td>
                            <img class="image-rec-2-table w80h80" src="{% static 'image/สี่เหลี่ยมสองช่อง.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">รูปสี่เหลี่ยม 2 รูปต่อกัน</p>
                        </td>
                        <td>
                            <p class="unit-details">วาล์วสองตำแหน่ง</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-rec-3-table w80h80" src="{% static 'image/สี่เหลี่ยมสามช่อง.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">รูปสี่เหลี่ยม 3 รูปต่อกัน</p>
                        </td>
                        <td>
                            <p class="unit-details">วาล์วสามตำแหน่ง</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-rec-arrow-table w80h80"
                                src="{% static 'image/ลูกศรในช่องสี่เหลี่ยม.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">ลูกศรภายในช่องสี่เหลี่ยม</p>

                        </td>
                        <td>
                            <p class="unit-details">ท่อภายในเปิดให้ลมไหลผ่านวาล์วตามทิศทางของลูกศร</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-rec-line-table w80h80" src="{% static 'image/เส้นในช่องสี่เหลี่ยม.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">เส้นภายในช่องสี่เหลี่ยม</p>
                        </td>
                        <td>
                            <p class="unit-details">ท่อภายในปิดลมผ่านไม่ได้</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-rec-crossline-table w80h80"
                                src="{% static 'image/เส้นตัดในช่องสี่เหลี่ยม.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">เส้นตัดภายในช่องสี่เหลี่ยมมีจุด</p>
                        </td>
                        <td>
                            <p class="unit-details">ท่อภายในวาล์วต่อร่วมกัน</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-rec-crossline-nopoint-table w80h80"
                                src="{% static 'image/เส้นตัดในช่องไม่มีจุด.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">เส้นตัดภายในช่องสีเหลี่ยมไม่มีจุด</p>
                        </td>
                        <td>
                            <p class="unit-details">ท่อภายในวาล์วตัดกันแต่ไม่ต่อร่วมกัน</p>
                        </td>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    การบังคับการเลื่อนของวาล์ว
                </h5>
                <p class="unit-sub-title-2">
                    การเลื่อนโดยใช้กล้ามเนื้อ (Manual actuation)
                </p>
                <table class="unit-table">
                    <tr>
                        <th>
                            <p class="unit-details">สัญลักษณ์</p>
                        </th>
                        <th>
                            <p class="unit-details">ความหมาย</p>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-general-table w100h50" src="{% static 'image/ทั่วไป.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์ทั่วไป ซึ่งใช้แทนการทำงานโดยใช้กล้ามเนื้อ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-press-table w100h50" src="{% static 'image/ใช้มือกด.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้มือกด (Push Button) </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-lever-table w100h50" src="{% static 'image/ใช้คันโยก.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้คันโยก (Lever)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-pedal-table w100h50" src="{% static 'image/ใช้เท้าเหยียบ.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้เท้าเหยียบ (Pedal)</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <img class="image-detent-table w100h50" src="{% static 'image/ใช้มือกดล็อก.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้มือกดแบบมีตัวล็อกตำแหน่ง (Detent)</p>
                        </td>
                    </tr>
                </table>

                <p class="unit-sub-title-2">
                    การเลื่อนโดยใช้กลไก (Mechanical actuation)
                </p>
                <table class="unit-table">
                    <tr>
                        <th>
                            <p class="unit-details">สัญลักษณ์</p>
                        </th>
                        <th>
                            <p class="unit-details">ความหมาย</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-plunger-table w100h50" src="{% static 'image/กลไกภายนอก.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">ใช้กลไกภายนอกเป็นตัวกด (Plunger)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-spring-table w100h50" src="{% static 'image/สปริงดัน.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้สปริงดันให้อยู่ในตำแหน่งปกติ (Spring)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-roller-lever-table w100h50"
                                src="{% static 'image/ลูกกลิ้งทำงาน 2 ด้าน.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">แบบลูกกลิ้งทำงาน 2 ด้าน (Roller Lever)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-roller-trip-table w100h50"
                                src="{% static 'image/ลูกกลิ้งทำงานด้านเดียว.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">แบบลูกกลิ้งทำงานด้านเดียว (Roller Lever with Idle Return or Roller
                                Trip)
                            </p>
                        </td>
                    </tr>
                </table>

                <p class="unit-sub-title-2">
                    การเลื่อนโดยใช้ลม (Pneumatic actuation or Pressure actuation)
                </p>
                <table class="unit-table ">
                    <tr>
                        <th>
                            <p class="unit-details">สัญลักษณ์</p>
                        </th>
                        <th>
                            <p class="unit-details">ความหมาย</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-apple-p-table w100h50" src="{% static 'image/ลมดัน.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">ใช้ลมดันให้วาล์วเลื่อนโดยตรง (Apply Pressure)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-release-p-table w100h50" src="{% static 'image/ระบายลมทิ้ง.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ระบายลมทิ้งให้วาล์วเลื่อนโดยตรง (Release Pressure)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-difference-p-table w100h50"
                                src="{% static 'image/เลื่อนด้วยความดัน.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">เลื่อนด้วยความดันที่ต่างกัน (Difference Pressure)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-p-apply-table w100h50" src="{% static 'image/วาล์วเลื่อนทางอ้อม.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้ลมดันให้วาล์วเลื่อนทางอ้อม (Pressure Apply to Pilot Valve)</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-p-remove-table w100h50"
                                src="{% static 'image/ระบายลมทิ้งให้วาล์วเลื่อนทางอ้อม.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">ระบายลมทิ้งให้วาล์วเลื่อนทางอ้อม (Pressure Removed from Pilot Valve)
                            </p>
                        </td>
                    </tr>
                </table>

                <p class="unit-sub-title-2">
                    การเลื่อนโดยใช้ไฟฟ้า (Electrical actuation)
                </p>
                <table class="unit-table">
                    <tr>
                        <th>
                            <p class="unit-details">สัญลักษณ์</p>
                        </th>
                        <th>
                            <p class="unit-details">ความหมาย</p>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-inductor-table w100h50" src="{% static 'image/ขดลวด 1 ขด.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">ใช้แม่เหล็กไฟฟ้า มีขดลวด 1 ขด</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-inductor-sameway-table w100h50"
                                src="{% static 'image/ขดลวดหลายทิศเดียวกัน.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้แม่เหล็กไฟฟ้า มีขดลวดหลายขดทำงานในทิศทางเดียวกัน</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-inductor-diffway-table w100h50"
                                src="{% static 'image/ขดลวดหลายขดทิศตรงกันข้าม.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้แม่เหล็กไฟฟ้า มีขดลวดหลายขดทำงานในทิศทางตรงข้ามกัน</p>
                        </td>
                    </tr>
                </table>

                <p class="unit-sub-title-2">
                    การเลื่อนโดยใช้แบบผสม (Combined actuation)
                </p>
                <table class="unit-table">
                    <tr>
                        <th>
                            <p class="unit-details">สัญลักษณ์</p>
                        </th>
                        <th>
                            <p class="unit-details">ความหมาย</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img class="image-elec-table w100h50" src="{% static 'image/แม่เหล็กไฟฟ้าและลมดัน.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">ใช้แม่เหล็กไฟฟ้าและลมดันช่วยภายในวาล์ว</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-roller-air-table w100h50"
                                src="{% static 'image/กลไกลูกกลิ้งและลมดัน.png' %}" alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้กลไกลูกกลิ้งและลมดันช่วยภายในวาล์ว</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="image-elec-table w100h50" src="{% static 'image/เลื่อนด้วยแม่เหล็กไฟฟ้า.png' %}"
                                alt="Not Found">
                        <td>
                            <p class="unit-details">ใช้เลื่อนด้วยแม่เหล็กไฟฟ้าหรือลมดันช่วยในวาล์ว</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title">
                    อุปกรณ์ควบคุมการทำงาน
                </h5>
                <h4 class="unit-sub-title-1">
                    วาล์วบังคับทิศทางแบบ 3/2
                </h4>
                <div class="image-center">
                    <img class="image-val-3-2" src="{% static 'image/32.png' %}" alt="Not Found">
                </div>
                <p class="unit-sub-title-2">
                    1. วาล์วแบบ 3/2 ปกติปิด บังคับการทำงานด้วยมือและกลับด้วยสปริง
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w250h150" src="{% static 'image/สัญลักษณ์ 32ปกติปิด.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w250h350" src="{% static 'image/การทำงาน 32 ปกติปิด.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">การทำงาน <br>
                                ในตำแหน่งปกติลมจาก 3 จะถูกปิด รู 2 และ 1 จะต่อถึงกัน
                                เมื่อออกแรงกดที่ปุ่มกดจะทำให้ลิ้นเปิด ลมจาก 3 ผ่านไป 2 ได้ และเมื่อปล่อยมือ
                                สปริงจะดันให้วาล์วกลับสู่ตำแหน่งเดิม
                            </p>
                        </td>
                    </tr>
                </table>
                <p class="unit-sub-title-2">
                    2.วาล์วแบบ 3/2 ปกติปิด บังคับการทำงานด้วยกลไกและกลับด้วยสปริง
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w250h150"
                                src="{% static 'image/สัญลักษณ์32 ปกติปิด บังคับการทำงานด้วยกลไก.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w250h350"
                                src="{% static 'image/การทำงาน 32ปกติปิด บังคับการทำงานด้วยกลไก.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ในตำแหน่งปกติลมจาก 3 จะถูกปิด รู 2 และ 1 จะต่อถึงกัน เมื่อออกแรงกดจะทำให้ลิ้นเปิด ลมจาก
                                3 ผ่านไป 2 ได้ และเมื่อไม่มีแรงมากระทำ สปริงจะดันให้วาล์วกลับสู่ตำแหน่งเดิม</p>

                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h4 class="unit-sub-title-1">
                    วาล์วบังคับทิศทางแบบ 5/2
                </h4>
                <div class="image-center">
                    <img class="w250h200" src="{% static 'image/52n.png' %}" alt="Not Found">
                </div>
                <p class="unit-sub-title-2">
                    1.วาล์วบังคับทิศทางลมแบบ 5/2 บังคับการทำงานด้วยมือและกลับด้วยสปริง
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w200h150" src="{% static 'image/แบบ 52 ทำงานด้วยมือ.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w250h350" src="{% static 'image/การทำงาน 52 ด้วยมือ.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ตำแหน่งปกติ ลมจากรู 1 จะต่อถึงรู 2 และรู 4 จะต่อถึงรู 3 ส่วนรู 5 จะถูกปิดไว้ <br>
                                ตำแหน่งทำงาน เมื่อออกแรงกดลิ้นของวาล์วจะเลื่อนเปลี่ยนตำแหน่งไปทางขวามือ
                                ทำให้ลมเปลี่ยนทิศทางจากรู 1 จะต่อถึงรู 4 และรู 2 จะต่อถึงรู 5</p>
                        </td>
                    </tr>
                </table>
                <p class="unit-sub-title-2">
                    2.วาล์วบังคับทิศทางลมแบบ 5/2 บังคับการทำงานด้วยลม
                </p>
                <table class="unit-table ">
                    <tr>
                        <td>
                            <img class="w200h150" src="{% static 'image/แบบ 52 ทำงานด้วยลม.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w250h350" src="{% static 'image/การทำงาน 52 ด้วยลม.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ตำแหน่งปกติ ลมจากรู 1 จะต่อถึงรู 2 และรู 4 จะต่อถึงรู 3 ส่วนรู 5 จะถูกปิดไว้ <br>
                                ตำแหน่งทำงาน เมื่อออกแรงกดลิ้นของวาล์วจะเลื่อนเปลี่ยนตำแหน่งไปทางขวามือ
                                ทำให้ลมเปลี่ยนทิศทางจากรู 1 จะต่อถึงรู 4 และรู 2 จะต่อถึงรู 5</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วควบคุมแบบลูกกลิ้ง (Roller)
                </h5>
                <div class="image-center">
                    <img class="w400h200" src="{% static 'image/Rollers.png' %}" alt="Not Found">
                </div>

                <p class="unit-details">
                    การใช้วาล์วแบบลูกกลิ้ง ควบคุมการทำงานของก้านสูบโดยติดตั้งไว้ที่ปลายก้านสูบ
                    เมื่อก้านสูบเคลื่อนที่มากดทำให้วาล์วสามารถทำงานได้
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w200h150" src="{% static 'image/สัญลักษณ์ลูกกลิ้ง.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w350h200" src="{% static 'image/การทำงานRoller.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ตำแหน่งปกติ รู A ต่อถึงรู R <br>
                                ตำแหน่งทำงาน รู P ต่อถึงรู A
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วกันกลับ (Check Valve)
                </h5>
                <p class="unit-details">
                    มีหน้าที่ให้ลมไหลผ่านได้ทางเดียว โดยจะไหลย้อนกลับไม่ได้
                    เมื่อความดันด้านที่ต่อไปใช้งานสูงกว่าด้านเข้า
                </p>
                <table class="unit-table">
                    <tr>
                        <td class="table-center">
                            <img class="w150h75" src="{% static 'image/กันกลับแบบไม่มีสปริง1.png' %}" alt="Not Found">
                            <p class="unit-details">
                                แบบไม่มีสปริง
                            </p>
                            <img class="w150h75" src="{% static 'image/กันกลับแบบมีสปริง1.png' %}" alt="Not Found">
                            <p class="unit-details">
                                แบบมีสปริง
                            </p>
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w300h250 rotate-90" src="{% static 'image/การทำงานวาล์วกันกลับ1.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ตำแหน่งปกติ สปริงจะดันให้ซีลปิดตลอดเวลา <br>
                                ตำแหน่งทำงาน เมื่อลมอัดไหลเข้ามาที่ช่อง 1 ด้วยความดันที่มากกว่าความแข็งของสปริง
                                ซีลจะเปิดให้ลมอัดไหลผ่านออกช่อง 2 ได้ ถ้ามีลมไหลย้อนกลับจากช่อง 2
                                ซีลของวาล์วจะปิดไม่ให้ลมไหลผ่านออกช่อง 1</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วกันกลับสองทาง (Shuttle Valve)
                </h5>
                <div class="image-center">
                    <img class="w250h200" src="{% static 'image/วาล์วกันกลับสองทาง1.png' %}" alt="Not Found">
                </div>

                <p class="unit-details">
                    วาล์วชนิดนี้มีท่อลมเข้าสองทางและท่อลมออกหนึ่งทาง ประโยชน์ของวาล์วชนิดนี้ คือ
                    ใช้เมื่อต้องการจุดสตาร์ทหลายจุด
                </p>

                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w150h100" src="{% static 'image/สัญลักษณ์วาล์วกันกลับสองทาง1.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w250h150" src="{% static 'image/การทำงานวาล์วกันกลับสองทาง1.png' %}"
                                alt="Not Found">
                            <img class="w250h150" src="{% static 'image/การทำงานวาล์วกันกลับสองทาง2.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                เมื่อป้อนลมเข้าทาง Y ลมจะผ่านออกทาง A รู X จะถูกปิด<br>
                                เมื่อป้อนลมเข้าทาง X ลมจะผ่านออกทาง A รู Y จะถูกปิด</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วควบคุมอัตราการไหลทางเดียว (One-Way Flow Control Valve)
                </h5>
                <div class="image-center"><img class="w250h200"
                        src="{% static 'image/วาล์วควบคุมอัตราการไหลทางเดียว1.png' %}" alt="Not Found">></div>

                <p class="unit-details">
                    วาล์วชนิดนี้สามารถควบคุมอัตราการไหลของความดันลมได้เพียงทิศทางเดียว
                    ดังนั้นจึงเป็นวาล์วที่ควบคุมความเร็วของกระบอกสูบตอนเคลื่อนที่เข้าออกได้อย่างอิสระ
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            ><img class="w200h150"
                                src="{% static 'image/สัญลักษณ์วาล์วควบคุมอัตราการไหลทางเดียว1.png' %}" alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w225h125" src="{% static 'image/การทำงานวาล์วควบคุมอัตราการไหลทางเดียว1.png' %}"
                                alt="Not Found">
                            <img class="w225h125" src="{% static 'image/การทำงานอัตราการไหลทางเดียว.png' %}"
                                alt="Not Found">

                        </td>
                        <td>
                            <p class="unit-details">การทำงาน <br>
                                เมื่อป้อนลมเข้าทาง A สามารถควบคุมอัตราการไหลได้<br>
                                เมื่อป้อนลมเข้าทาง B ควบคุมอัตราการไหลไม่ได้</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วเร่งระบายลม (Quick Exhaust Valve)
                </h5>
                <div class="image-center"><img class="w250h200" src="{% static 'image/วาล์วเร่งระบายลม1.png' %}"
                        alt="Not Found"></div>
                <p class="unit-details">
                    วาล์วเร่งระบายลม มีหน้าที่ ช่วยระบายลมออกจากอุปกรณ์ สู่ภายนอกอย่างรวดเร็ว
                    เพื่อเพิ่มความเร็วในการเคลื่อนที่ของลูกสูบ
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w175h175" src="{% static 'image/สัญลักษณ์วาล์วเร่งระบายลม1.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w175h175" src="{% static 'image/การทำงานวาล์วเร่งระบายลม1.png' %}"
                                alt="Not Found">
                            <img class="w175h175" src="{% static 'image/การทำงานวาล์วเร่งระบายลม2.png' %}"
                                alt="Not Found">

                        </td>
                        <td>
                            <p class="unit-details">
                                การทำงาน <br>
                                ตำแหน่งป้อนลมใช้งาน เมื่อป้อนลมเข้าวาล์ว ลมจะเข้าทางช่อง 1 ดันซีลไปปิดช่อง 3
                                ลมอัดผ่านออกช่อง 2 ได้<br>
                                ตำแหน่งระบายลม ลมจากช่อง 2 จะดันซีลไปปิดช่อง 1 ระบายออกช่อง 3 สู่ภายนอก</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วความดันสองทาง (Two Pressure Valve)
                </h5>
                <div class="image-center">
                    <img class="w250h200" src="{% static 'image/วาล์วความดันสองทาง1_.png' %}" alt="Not Found">
                </div>
                <p class="unit-details">
                    วาล์วชนิดนี้มีท่อลมเข้าสองทางและท่อลมออกหนึ่งทาง ประโยชน์ของวาล์วชนิดนี้ คือ
                    ใช้เมื่อต้องการจุดสตาร์ทหลายจุด
                </p>

                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w150h75" src="{% static 'image/สัญลักษณ์วาล์วความดันสองทาง1.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w225h125" src="{% static 'image/การทำงานวาล์วความดันสองทาง1.png' %}"
                                alt="Not Found">
                            <img class="w225h125" src="{% static 'image/การทำงานวาล์วความดันสองทาง2.png' %}"
                                alt="Not Found">
                        </td>
                        </td>
                        <td>
                            <p class="unit-details">การทำงาน <br>
                                ตำแหน่งลมอัดเข้าทาง 1 ลูกสูบจะเลื่อนไปทาง 3 ปิดช่อง 1 เปิดช่อง 3<br>
                                ตำแหน่งลมอัดเข้าทาง 3 ลูกสูบจะเลื่อนไปทาง 1 ปิดช่อง 3 เปิดช่อง 1 <br>
                                ตำแหน่งลมอัดเข้าทาง 2 ทาง ลูกสูบจะอยู่ในตำแหน่งใดๆ ทำให้ลมจากช่อง 1 หรือช่อง 3
                                ไหลผ่านออกไปช่อง 2 ได้</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container">
                <h5 class="unit-sub-title-1">
                    วาล์วหน่วงเวลา (Time Delay Valve)
                </h5>
                <div class="image-center"><img class="w270h220" src="{% static 'image/วาล์วหน่วงเวลา1.png' %}"
                        alt="Not Found"></div>

                <p class="unit-details">
                    วาล์วหน่วงเวลา มีหน้าที่ ควบคุมการทำงานของก้านสูบให้เคลื่อนที่กลับ ซึ่งสามารถปรับตั้งเวลา
                    หรือหน่วงเวลาในการเคลื่อนกลับมาของการสูบได้ โดยการปรับอัตราการไหลของลมที่เข้าไปที่วาล์วหน่วงเวลา
                </p>
                <p class="unit-sub-title-2">
                    1. วาล์วหน่วงเวลาแบบปกติเปิด
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w400h200" src="{% static 'image/สัญลักษณ์วาล์วหน่วงเวลาแบบปกติเปิด1.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class="unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="row-2">

                            <img class="w220h220" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติเปิด1.png' %}"
                                alt="Not Found">
                            <img class="w220h220" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติเปิด2.png' %}"
                                alt="Not Found">


                        </td>
                        <td>
                            <p class=" unit-details">
                                การทำงาน <br>
                                สภาวะปกติ เมื่อยังไม่มีแรงดันลมเข้าทางรู 10 แรงดันลมจากรู 1 จะถูกปิด ส่วนรู 2 จะต่อถึงรู
                                3<br>
                                สภาวะทำงาน เมื่อมีแรงดันลมเข้าทางรู 10
                                ลมอัดจะถูกควบคุมให้ไหลผ่านเฉพาะวาล์วควบคุมการไหลจนปริมาณลมเต็มถังเก็บลม
                                แรงดันลมจะไปดันเลื่อนให้วาล์ว 3/2 ปิด ลมจากรู 1 จึงถูกปิด ส่วนลมจากรู 2 จะต่อถึงรู 3 ได้
                            </p>
                        </td>
                    <tr>
                </table>

                <p class="unit-sub-title-2">
                    2.วาล์วหน่วงเวลาแบบปกติปิด
                </p>
                <table class="unit-table">
                    <tr>
                        <td>
                            <img class="w400h200" src="{% static 'image/สัญลักษณ์วาล์วหน่วงเวลาแบบปกติปิด1.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class=" unit-details">สัญลักษณ์</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-2">
                            <img class="w220h220" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติปิด1.png ' %}"
                                alt="Not Found">
                            <img class="w220h220" src="{% static 'image/การทำงานวาล์วหน่วงเวลาแบบปกติปิด2.png' %}"
                                alt="Not Found">
                        </td>
                        <td>
                            <p class=" unit-details">การทำงาน <br>
                                สภาวะปกติ เมื่อยังไม่มีแรงดันลมเข้าทางรู 12 แรงดันลมจากรู 1 จะถูกปิด ส่วนรู 2 จะต่อถึงรู
                                3<br>
                                สภาวะทำงาน เมื่อมีแรงดันลมเข้าทางรู 12
                                ลมอัดจะถูกควบคุมให้ไหลผ่านเฉพาะวาล์วควบคุมการไหลเข้าไปยังถังเก็บลม
                                เมื่อปริมาณลมสะสมจนเต็มถังก็จะเกิดแรงดันไปเลื่อนให้วาล์วเปิด ลมจะไหลจากรู 1 ออกรู 2 ได้
                                ช่วงเวลาในการเปิดวาล์วขึ้นอยู่กับการปรับวาล์วควบคุมการไหล หากปรับวาล์วให้แคบ
                                เวลาจะมากขึ้น ถ้าปรับวาล์วให้กว้าง ลมจะเต็มถังเก็บลมเร็วขึ้น เวลาจะน้อยลง
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="unit-sub-title-container unit-container video-contanier">
                <video class="unit-video" controls>
                    <source src="{% static 'image/อุปกรณ์.mp4' %}" type="video/mp4">
                </video>
            </div>
        </section>
    </div>
</body>


{% endblock %}