{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Unit2</title>
{% endblock %}

{% block content %}

<body>
    <div class="worksheet-container">
        <img class="worksheet-image" src="{% static 'image/ใบงาน2.jpg' %}" alt="Not Found">
        <a href="https://drive.google.com/file/d/1XBcRjxa3sOMFEEX3tLNmGcyzScPj7Sb2/view?usp=sharing">
            ใบงานที่ 1
        </a>
        <a href="https://drive.google.com/file/d/1r_hdt01xKxPvgogNipL_HlBKWWvijTAo/view?usp=sharing">
            ใบงานที่ 2
        </a>
        <a href="https://drive.google.com/file/d/1rlbaSKYYxeEqP4ZcSBFX7lInT-2bs84n/view?usp=sharing">
            ใบงานที่ 3
        </a>
    </div>
</body>

{% endblock %}