.competency-header-info {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../image/competency2.jpg);
    background-size: cover;
    background-position: 100%;
}

.competency-capacity,
.competency-capacity-details {
    max-width: max-content;
    height: max-content;
    color: #000(255, 255, 255);
    padding: 20px;
}

.competency-capacity {
    font-size: 40px;
    font-weight: 700;
}

.competency-capacity-details {
    font-size: 18px;
    font-weight: 600;
}

.competency-unit {
    background-color: #89CFF3;
    display: flex;
    justify-content: space-around;
}

.competency-container-unit, .competency-info, .competency-title {
    width: max-content;
    height: 100%;
}

.competency-container-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    padding: 20px;
}

.competency-title {
    width: 100%;
    text-align: center;
}

.competency-unit-image {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.competency-info {
    margin-top: 5px;
    width: 100%;
}

.arrow-left, .arrow-right {
    width: max-content;
    position: absolute;
    top: 63%;
    cursor: pointer;
    display: none;
}

.arrow-left:hover, .arrow-right:hover {
    color: rgb(196, 196, 196);
}

.arrow-left {
    left: 10%;
}

.arrow-right {
    right: 10%;
}

.competency-activate {
    display: flex;
}


@media (max-width: 1024px) and (min-width: 768px) {
    .competency-title {
        font-size: 20px;
    }

    .competency-unit-image {
        width: 200px;
        height: 200px;
    }

    .competency-info {
        font-size: 14px;
    }
}
@media (max-width: 768px) and (min-width: 575px) {
    .competency-container-unit {
        padding: 10px;
    }

    .competency-title {
        font-size: 18px;
    }

    .competency-unit-image {
        width: 150px;
        height: 150px;
    }

    .competency-info {
        font-size: 14px;
    }

    .competency-container-unit {
        display: flex;
    }
}


@media (max-width: 575px) and (min-width: 425px) {
    

    .arrow-left, .arrow-right {
        display: flex;
    }

    .competency-container-unit {
        padding: 10px;
    }

    .competency-title {
        font-size: 24px;
        text-align: center;
    }

    .competency-unit-image {
        width: 250px;
        height: 250px;
    }

    .competency-info {
        font-size: 14px;
    }

    .competency-container-unit:nth-child(2), .competency-container-unit:nth-child(3) {
        display: none;
    }
}

@media (max-width: 425px) and (min-width: 320px) {
    .competency-capacity {
        font-size: 32px;
    }
    .competency-capacity-details {
        font-size: 14px;
    }
    .arrow-left, .arrow-right {
        display: flex;
    }

    .competency-container-unit {
        padding: 10px;
    }

    .competency-title {
        font-size: 24px;
        text-align: center;
    }

    .competency-unit-image {
        width: 200px;
        height: 200px;
    }

    .competency-info {
        font-size: 14px;
    }

    .competency-container-unit:nth-child(2), .competency-container-unit:nth-child(3) {
        display: none;
    }
}