* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/login.jpg);
    background-size: cover;
    background-position: 100%;
}

.login-container {
    max-width: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.error_message {
    display: none;
    padding: 5px;
    align-items: center;
    max-width: 500px;
    width: 90%;
    height: max-content;
    background-color: rgb(255, 93, 93);
    border-radius: 15px;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}


.wrapper {
    max-width: 500px;
    width: 90%;
    height: min-content;
    padding: 30px;
    border-radius: 15px;
    background: white;
    position: relative;
}

.wrapper h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.wrapper form {
    font-size: 20px;
}

.wrapper form {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

.information-icon {
    cursor: pointer;
    margin: 0 5px;
}

.information-container {
    display: none;
    width: max-content;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(187, 187, 187);
    padding: 2.5px;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
}

.btn-submit {
    margin: 10px 0;
}

@media (max-width: 1024px) and (min-width: 768px) {

    .wrapper h1 {
        font-size: 34px;
    }

    .wrapper label {
        font-size: 18px;
    }
    
}

@media (max-width: 768px) and (min-width: 425px) {
    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 32px;
    }

    .wrapper label {
        font-size: 16px;
    }

    .form-control {
        height: 35px;
        font-size: 14px;
    }

    .information-container {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    .error_message {
        font-size: 18px;
    }
}

@media (max-width: 425px) and (min-width: 375px) {
    .wrapper {
        padding: 20px;
    }

    .wrapper h1 {
        font-size: 28px;
    }

    .wrapper label {
        font-size: 12px;
    }

    .form-control {
        height: 25px;
        font-size: 12px;
    }

    .information-icon {
        width: 14px;
        height: 14px;
    }

    .information-container {
        font-size: 12px;
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
    }

    .error_message {
        font-size: 16px;
    }
    
}

@media (max-width: 375px) and (min-width: 320px) {
    .wrapper {
        padding: 20px;
    }

    .wrapper h1 {
        font-size: 30px;
    }

    .wrapper label {
        font-size: 14px;
    }

    .form-control {
        height: 30px;
        font-size: 14px;
    }

    .information-icon {
        width: 14px;
        height: 14px;
    }

    .information-container {
        font-size: 12px;
        margin-bottom: 5px;
    }

    p {
        font-size: 10px;
    }

    .error_message {
        font-size: 14px;
    }
    
}