* {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    z-index: 0;
    font-size: 36px;
    width: 100%;
    background-color: #192655;
    max-height: 100px;
    position: relative;
    padding: 0 150px;
}

.navbar-logo {
    color: white;
    letter-spacing: .25rem;
    width: max-content;
    height: 100px;
    font-weight: 800;
    cursor: pointer;
    max-height: 100px;
}

.narbar-link-container,
.narbar-link,
.navbar-link-unit,
.navbar-unit,
.menu-icon {
    width: max-content;
    height: max-content;
}

.menu-icon {
    display: none;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.narbar-link-container {
    display: flex;
    position: relative;

}

.narbar-link {
    color: white;
    /* margin: 0 20px; */
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.narbar-link:hover {
    text-decoration: underline;
}

.Logout {
    margin-left: 150px;
}

.navbar-link-unit {
    background-color: #192655;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 1.25%;
    top: 160%;
    display: none;

}

.navbar-link-test {
    background-color: #192655;
    font-size: 20px;
    font-weight: 600;
    display: none;
    height: max-content;
    max-width: max-content;
    position: absolute;
    top: 160%;
    left: 30%;
}

.navbar-unit,
.navbar-test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.navbar-test {
    display: flex;
    width: max-content;
    height: 50px;
    padding: 10px;
}

.navbar-unit:hover,
.navbar-test:hover {
    background-color: rgba(161, 161, 161, 0.616);
}

.drawer-container {
    display: none;
    z-index: 9999;
    background-color: white;
    width: 90%;
    position: absolute;
    right: 0;
    top: 0%;
    /* height: max-content; */
}

footer {
    margin-top: auto;
}

footer,
.footer-text {
    display: flex;
    width: 100%;
    background-color: #192655;
    height: 150px;
    justify-content: space-around;
}

.footer-text {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container {
    font-size: 18px;
    color: white;
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 10px 0;
}

.footer-center-text {
    display: flex;
    width: max-content;
    height: max-content;
    margin-right: 10px;
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .navbar-container {
        padding: 0 105px;
    }

    .navbar-logo {
        font-size: 34px;
    }

    .narbar-link {
        font-size: 24px;
    }

    .Logout {
        margin-left: 75px;
    }

    .navbar-link-test {
        left: 34.5%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .navbar-container {
        padding: 0 70px;
    }

    .navbar-link-test {
        left: 41.5%;
        font-size: 18px;
    }

    .navbar-test {
        align-items: center;
        text-align: center;
        width: 120px;
        height: 75px;
    }

    .navbar-logo {
        font-size: 30px;
    }

    .narbar-link {
        font-size: 20px;
    }

    .navbar-link-unit {
        left: 0%;
        font-size: 18px;
    }

    .navbar-unit {
        padding: 10px;
    }

    .Logout {
        margin-left: 40px;
    }

    .footer-container {
        font-size: 16px;
    }

}

@media (max-width: 768px) and (min-width: 680px) {

    .navbar-container {
        padding: 0 55px;
    }

    .navbar-link-test {
        left: 31.5%;
        font-size: 16px;
    }

    .navbar-test {
        align-items: center;
        text-align: center;
        width: 120px;
        height: 75px;
    }

    .navbar-logo {
        font-size: 28px; 
    }


    .narbar-link {
        font-size: 16px;
        margin: 0 5px;
    }

    .navbar-link-unit {
        left: -2%;
        font-size: 12px;
    }

    .navbar-unit {
        width: 80px;
        padding: 10px 0;
    }

    .Logout {
        margin-left: 35px;

    }

    .footer-container {
        font-size: 14px;
    }
}

@media (max-width: 680px) and (min-width: 575px) {
    .footer-container {
        font-size: 14px;
    }

    .navbar-container {
        padding: 0 40px;
    }

    .navbar-link-test {
        left: 31.5%;
        font-size: 16px;
    }

    .navbar-test {
        align-items: center;
        text-align: center;
        width: 120px;
        height: 75px;
    }

    .navbar-logo {
        font-size: 28px; 
    }

    .narbar-link {
        font-size: 16px;
        margin: 0 5px;
    }

    .navbar-link-unit {
        left: -2%;
        font-size: 12px;
    }

    .navbar-unit {
        width: 80px;
        padding: 10px 0;
    }

    .Logout {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 575px) and (min-width: 320px) {
    .footer-container {
        font-size: 14px;
    }

    .navbar-container {
        padding: 0 10px;
    }

    .drawer-container {
        z-index: 999;
        flex-direction: column;
        height: 100%;
    }

    .navbar-logo {
        font-size: 28px;
        margin-left: 30px;
    }

    .narbar-link-container {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .drawer-container {
        max-width: 300px;
        width: 85%;
    }

    .drawer-icon,
    .drawer-profile-icon {
        cursor: pointer;
    }

    .x-icon,
    .profile,
    .profile-container,
    .drawer-profile-icon,
    .drawer-icon,
    .drawer-sub-test,
    .hide-unit {
        width: max-content;
        height: max-content;
    }

    .drawer-icon {
        margin-right: 5px;
    }

    .profile-line2 {
        font-size: 18px;
    }

    .drawer-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
    }

    .sub-drawer {
        height: 65px;
        width: 100%;
        margin: 10px 0;
    }

    .drawer-unit,
    .drawer-activity,
    .drawer-test,
    .drawer-exit {
        padding: 5px;
        padding-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .drawer-unit:hover,
    .drawer-activity:hover,
    .drawer-test:hover,
    .drawer-exit:hover {
        background-color: rgba(155, 153, 153, 0.61);
    }

    .bi-caret-down-fill {
        margin-left: 15px;
    }

    .sub-drawer-icon {
        margin-right: 15px;
    }

    .drawer-sub-unit, .drawer-sub-test {
        display: none;
        width: 100%;
        height: max-content;
        flex-direction: column;
        justify-content: center;
    }

    .sub-unit {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 5px 0;
        padding: 0px 40px;
        height: 50px;
        cursor: pointer;
    }

    .sub-unit:hover {
        background-color: rgba(155, 153, 153, 0.61);
    }

    .hide-unit {
        margin: 0 15px;
    }

    .not-activate {
        display: none;
    }
}


@keyframes SlideIn {
    0% {
        right: -28%;
    }

    100% {
        right: 0%;
    }
}